.cardFrame {
  width: 70%;
  text-align: left;
  padding: 0.2em;
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 4px #7171a1, inset 0 4px #7171a1;
}

.headline {
  margin: 0.5em 0.5em 0.5em 0.3em;
}

.nameTag {
  text-decoration: underline;
}

.paragraph {
  margin: 0.3em;
  font-weight: bold;
}

.iconReadMore {
  height: 2em;
  margin-left: calc(100% - 2.2em);
  cursor: pointer;
}
